{% extends 'admin.twig' %}

{% set title %}{{ 'InvalidateReports_InvalidateHistoricalReports'|translate }}{% endset %}

{% block content %}

<div piwik-content-block content-title="{{ title|e('html_attr') }}" class="invalidate-reports-page">

    <p>{{ 'InvalidateReports_PageDescription'|translate }}</p>

    <ul id="examples">
        <li>{{ 'InvalidateReports_ExamplesCustomReports'|translate('<a href="https://piwik.org/docs/custom-reports/" target="_blank">', '</a>')|raw }}</li>
        <li>{{ 'InvalidateReports_ExamplesFunnels'|translate('<a href="https://piwik.org/docs/funnels/" target="_blank">', '</a>')|raw }}</li>
        <li>{{ 'InvalidateReports_ExamplesRawData'|translate('<a href="https://piwik.org/log-analytics/" target="_blank">', '</a>')|raw }}</li>
    </ul>

  <div
    vue-entry="InvalidateReports.InvalidateReports"
    available-ranges="{{ availableRanges|default(null)|json_encode|e('html_attr') }}"
  ></div>

</div>

{% endblock %}